/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********************************************
 * Author Style sheet
 *********************************************/
body {
  font-family: Iceland;
  background-image: linear-gradient(to bottom right, #000428, #004e92);
  background-repeat: no-repeat;
  background-position: center;
}

header {
  color: white;
}

#user {
  padding: 40px 10px 20px 10px;
  text-align: center;
  font-weight: bold;
}

#user h1 {
  font-size: 3.1em;
  padding-bottom: 5px;
  color: #fa1100;
}

#user p {
  font-size: 1.7em;
}

#hamsburger {
  padding: 5px;
  width: 60px;
}

#hamsburger span {
  display: block;
  margin: 5px 10px;
  height: 6px;
  width: 40px;
  background-color: white;
  border-radius: 3px;
  transition: 0.5s;
}

.change #bar1 {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
  display: none;
  margin: 0 30px;
  background-color: #ff5145;
  position: relative;
  z-index: 1;
  box-shadow: 10px 10px #333;
  text-align: center;
}

.menu li a{
  padding: 2px 0;
  display: block;
  color: white;
  font-size: 1.6em;
  text-decoration: none;
}

.menu-show {
  display: block;
}

#about_me, #skills {
  width: 90%;
  margin: 30px auto;
}

section h2 {
  font-size: 2.5em;
  color: #ff5145;
}

section hr {
  border: 2px solid #ff5145;
}
 
#about_me img {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

#about_me p {
  margin: 10px;
  color: white;
  font-size: 1.5em;
  text-align: justify;
}

section h3 {
  color: #fce653;
  font-size: 1.9em;
}

section ul {
  display: block;
  margin-bottom: 20px;
  margin-left: 30px;
  list-style-type: disc;
}

section li {
  color: white;
  font-size: 1.4em;
}

@media only screen and (min-width: 601px) {
  #user h1 {
    font-size: 3.8em;
  }

  #user p {
    font-size: 1.8em;
  }

  #hamsburger {
    display: none;
  }

  .menu {
    display: block;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    
  }

  .menu li {
    display: inline-block;
  }

  .menu li a{
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
  }

  .menu li a:hover {
    text-decoration: underline;
    background-color: black;
    font-size: 1.7em;
    transition: 0.5s;
    border-radius: 15px;
  }
}

@media only screen and (min-width: 801px) {
  #about_me div {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
  }
}